
/*!
 * BodyStyle v2.2.0
 * Copyright Federico Manzano
 * Licencia MIT
 * Repositorio (https://github.com/FedericoManzano/bodystyle-v2.2.0-fuente)
 */

.bs-html-etquetas {
    color: rgb(0, 72, 226) !important;
}

.bs-mayor-menor {
    color: rgb(36, 36, 36) !important;
}

.bs-html-cadenas {
    color: rgb(40, 125, 252) !important;
}

.bs-html-operadores {
    color: black !important;
}

.bs-html-attr {
    color: rgb(0, 180, 75) !important;
}

.bs-html-comentarios {
    color: rgb(35, 142, 168) !important;
}


.bs-js-claves {
    color: rgb(0, 28, 88) !important;
}

.bs-js-bar {
    color: rgb(71, 33, 207) !important;
}

.bs-js-parentesis {
    color: rgb(0, 28, 88) !important;
}

.bs-js-new {
    color: rgb(6, 79, 236) !important;
}

.bs-js-func {
    color: rgb(0, 152, 163) !important;
}

.bs-js-cadena {
    color: rgb(0, 69, 219) !important;
}

.bs-js-num {
    color: rgb(0, 45, 194) !important;
}

.bs-js-com {
    color: rgb(0, 128, 53) !important;
}