.bs-selector {
    color: rgb(206, 117, 0) !important;
}

.bs-prop {
    color: rgb(13, 107, 170) !important;
}


.bs-cadena {
    color: rgb(175, 82, 16) !important;

}

.bs-valor {
    color: rgb(0, 0, 0) !important;
}

.bs-medidas {
    color: rgb(96, 179, 58) !important;
}

.bs-claves {
    color: purple !important;
   
}