/*!
 * BodyStyle v2.2.0
 * Copyright Federico Manzano
 * Licencia MIT
 * Repositorio (https://github.com/FedericoManzano/bodystyle-v2.2.0-fuente)
 */

.bs-html-etquetas {
    color: rgb(255, 46, 46) !important;
}

.bs-mayor-menor {
    color: rgb(36, 36, 36) !important;
}

.bs-html-cadenas {
    color: rgb(95, 43, 0) !important;
}

.bs-html-operadores {
    color: black !important;
}

.bs-html-attr {
    color: rgb(173, 57, 53) !important;
}

.bs-html-comentarios {
    color: rgb(83, 26, 0) !important;
}

.bs-js-claves {
    color: rgb(255, 15, 15) !important;
}

.bs-js-bar {
    color: rgb(194, 78, 32) !important;
}

.bs-js-parentesis {
    color: rgb(255, 68, 68) !important;
}

.bs-js-new {
    color: rgb(196, 37, 26) !important;
}

.bs-js-func {
    color: rgb(224, 82, 0) !important;
}

.bs-js-cadena {
    color: rgb(226, 49, 49) !important;
}

.bs-js-car {
    color: rgb(172, 0, 0) !important;
}

.bs-js-num {
    color: rgb(100, 1, 34) !important;
}

.bs-js-com {
    color: rgb(0, 128, 53) !important;
}